.infotext {  }

#flowDiv .dygraph-label { font-family: Georgia,Verdana,serif; }

#flowDiv .dygraph-title { font-size: 36px; text-shadow: 2px 2px 2px gray; }

#flowDiv .dygraph-ylabel { font-size: 18px; text-shadow: -2px 2px 2px gray; }

.chart { border: 1px dashed black; margin: 5px 5px 5px 50px; padding: 2px; }
