.idea/
.vscode/
backend/settings/settings.php
backend/settings/alerts-state.json
backend/settings/alerts-log.json
backend/datasources/data/
backend/cli/nfsen-ng.log
backend/cli/nfsen-ng.pid
backend/nfsen-ng.pid
profiles-data/
vendor/
node_modules/
*.cache
*.pdf

wiki
