/* general */

header {
    margin-top: 1vw;
}
textarea {
    resize: none;
}

code, pre, .code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

h3, h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

/* graph */
.infotext {
}

#flowDiv .dygraph-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#flowDiv .dygraph-ylabel {
    font-size: 1.5rem;
}

#legend span {
    padding: .2rem;
}

#legend span.highlight {
    background-color: #eee;
}

#series label {
    display: block;
}

.chart {
    border: 1px dashed black;
    margin: 5px 5px 5px 50px;
    padding: 2px;
}

#viewList li h4 {
    margin-left: 10px;
}

#contentDiv {
    overflow-x: scroll;
}