/* general */
textarea {
    resize: none;
}

code, pre, .code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}


/* header */
header li a.active {
    background-color: #eee;
}


/* filter */
#filterDiv > div {
    display: none;
}

#filterDiv #graphsFilterDiv { /* show first filter */
    display: block;
}

.customDateMargin {
    margin-right: 50%;
}


/* graph */
.infotext {
}

#flowDiv .dygraph-title {
    font-size: 36px;
    text-shadow: 2px 2px 2px gray;
}

#flowDiv .dygraph-ylabel {
    font-size: 18px;
    text-shadow: -2px 2px 2px gray;
}

.chart {
    border: 1px dashed black;
    margin: 5px 5px 5px 50px;
    padding: 2px;
}

#viewList li h4 {
    margin-left: 10px;
}
