/* general */
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    opacity: .3;
}

textarea {
    resize: none;
}

code, pre, .code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

.h5, .h6 {
    text-transform: uppercase;
    font-weight: bold;
}

/* graph */

#flowDiv .dygraph-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#flowDiv .dygraph-ylabel {
    font-size: 1.5rem;
}

#legend span {
    padding: .2rem;
}

#legend span.highlight {
    background-color: #eee;
}

#series label {
    display: block;
}

#viewList li h4 {
    margin-left: 10px;
}

/* graph options */

.accordion h4:after {
    content: "\25B2";
    float: right;
}

.accordion h4.collapsed:after {
    content: "\25BC";
}

/* flows */
#sourceCIDRPrefixDiv:before, #destinationCIDRPrefixDiv:before {
    content: "/";
    width: auto;
    position: absolute;
    font-size: 170%;
    padding-left: 1rem;
}
#sourceCIDRPrefix, #destinationCIDRPrefix { padding-left: 2rem; }
