/* general */

header {
    margin-top: 1vw;
}

header .reload {
    padding: 10px 15px;
}

textarea {
    resize: none;
}

code, pre, .code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

h3, h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

ul.nav-tabs {
    border: none;
}

#contentDiv {
    overflow-x: auto;
}

/* graph */

#flowDiv .dygraph-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#flowDiv .dygraph-ylabel {
    font-size: 1.5rem;
}

#legend span {
    padding: .2rem;
}

#legend span.highlight {
    background-color: #eee;
}

#series label {
    display: block;
}

#viewList li h4 {
    margin-left: 10px;
}

/* graph options */

.accordion h4:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
}

.accordion h4.collapsed:after {
    content: "\e080";
}