[Unit]
Description=nfcapd NetFlow Collector
After=network.target
Documentation=man:nfcapd(1)

[Service]
Type=forking
PIDFile=/var/run/nfcapd.pid
ExecStartPre=/bin/mkdir -p /var/nfdump/profiles-data/live/all
ExecStart=/usr/bin/nfcapd -w /var/nfdump/profiles-data/live/all -z=lz4 -S 1 -p 9995 -P /var/run/nfcapd.pid -T all -D
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
