[Unit]
Description=nfsen-ng
After=network-online.target

[Service]
Type=simple
RemainAfterExit=no
Restart=always
StartLimitIntervalSec=0
RestartSec=2
User=www-data
ExecStart=php /var/www/nfsen-ng/backend/app.php

[Install]
WantedBy=multi-user.target